<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
</head>
<body>
    <h1>ユーザー登録</h1>
    <form action="../php/register.php" method="post">
        <label for="employee_name">名前:</label><br>
        <input type="text" id="employee_name" name="employee_name" required><br>
        <label for="employee_mail">メールアドレス:</label><br>
        <input type="text" id="employee_mail" name="employee_mail" required><br>
        <label for="password">パスワード:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" name="register" value="登録">
    </form>
</body>
</html>